<div class="container" ng-controller="Words">
    <form role="form">
        <div class="form-group">
            <label for="addWord">New word</label>

            <div class="form-inline">
                <input ng-model="source.word" type="text" class="form-control" id="addWord" placeholder="Enter word"
                       autofocus>
                <select class="form-control" ng-model="source.language" name="sourceLanguages">
                    <option ng-repeat="languageName in languages" value="{{languageName.languageName}}">
                        {{languageName.languageName}}
                    </option>
                </select>
            </div>
            <br/>

            <div class="form-inline">
                <input ng-model="translation.word" type="text" class="form-control" id="addTranslation"
                       placeholder="Enter translation"/>
                <select ng-init class="form-control" ng-model="translation.language" name="translationLanguage">
                    <option ng-repeat="languageName in languages" value="{{languageName.languageName}}">
                        {{languageName.languageName}}
                    </option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="addTranslation(source, translation)"
                ng-disabled="isNotValid()">Add
        </button>
    </form>
    <p>{{value}}</p>
    <table class="table table-responsive  table-striped">
        <thead class="table-fixed-header">
        <tr>
            <th>Word</th>
            <th>Language</th>
            <th>Translation</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="word in words">
            <td>{{word.source.word}}</td>
            <td>{{word.source.language.languageName}}</td>
            <td>
                <div class="col-lg-3">
                    {{word.translation.word}}
                </div>
                <div class="col-lg-4 right">
                    <a ng-click="open(word.source)">
                        Show more translations
                    </a>
                </div>
            </td>
            <td><a ng-click="deleteWord(word)">[X]</a></td>
        </tr>
        </tbody>
    </table>
</div>