<div class="container" ng-controller="registrationForm">
    <h3>Registration form</h3>

    <form role="form">
        <div class="form-group">
            <label for="registerEmail">Email address</label>
            <input ng-model="register.user.email" type="email" class="form-control" id="registerEmail"
                   placeholder="Enter email">
        </div>
        <button ng-click="register(register.user)" class="btn btn-default" ng-disabled="isNotValid(register.user)">
            Submit
        </button>
        <div>{{registrationResult}}</div>
    </form>

    <h3>Login form</h3>

    <form role="form">
        <div class="form-group">
            <label for="loginEmail">Email address</label>
            <input ng-model="login.user.email" type="email" class="form-control" id="loginEmail"
                   placeholder="Enter email">
        </div>
        <button ng-click="login(login.user)" class="btn btn-default" ng-disabled="isNotValid(login.user)">Submit
        </button>
        <div>{{loginResult}}</div>
    </form>
</div>