<div class="container" ng-controller="">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-11">
                    <p>Здесь будет добавление слова</p>
                    <p>Здесь будет слово</p>
                    <h4>Ваша следующая тема</h4>
                    <a href="" class="btn btn-success btn-lg btn-block" role="button">
                        Изучить
                    </a>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-11">
                    <p>Здесь будет слово</p>
                    <p>Здесь будет слово</p>
                    <h4>Повторите свои слова</h4>
                    <a href="" class="btn btn-success btn-lg btn-block" role="button">
                        Повторить слова
                    </a>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-11">
                    <p>Здесь будет слово</p>
                    <h4>Посмотрите свои слова</h4>
                    <a href="" class="btn btn-success btn-lg btn-block" role="button">
                        Перейти в словарь
                    </a>
                    <h4>Проверьте свои знания</h4>
                    <a href="#game" class="btn btn-success btn-lg btn-block" role="button">
                        Проверить знания
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>