<div class="container" ng-controller="UserDictionary">
    <p>Your language is {{language}}, and you can not change it.</p>

    <a href="#game">Play!!!</a>

    <div class="form-group">
        <label for="addWord">New word</label>

        <div class="form-inline">
            <input ng-model="word.word" type="text" class="form-control" id="addWord" placeholder="Enter word"
                   autofocus>
            <select class="form-control" ng-model="word.language" name="sourceLanguages">
                <option ng-repeat="languageName in languages" value="{{languageName.languageName}}">
                    {{languageName.languageName}}
                </option>
            </select>

            <button type="submit" class="btn btn-default" ng-click="addWord(word)"
                    ng-disabled="isNotValid()">Add
            </button>   <!-- TODO показать обязательные поля -->
        </div>
    </div>

    <table class="table table-striped">
        <thead class="table-fixed-header">
        <tr>
            <th><div class="button-space">Word</div></th>
            <th><div class="button-space">Language</div></th>
            <th><div class="button-space">Translation</div></th>
            <th><div class="button-space">Delete</div></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="word in userWords">
            <td>
                <a href="#word/{{word.word}}/{{word.language.languageName}}">
                    <button class="btn-link">{{word.word}}</button>
                </a>
            </td>
            <td>
                <div class="button-space">{{word.language.languageName}}</div>
            </td>
            <td>
                <div class="col-lg-3 button-space left-button">
                    {{word.translation.word}}
                </div>
                <div class="col-lg-5 right">
                    <button class="btn-link" ng-click="open(word)">Show more translations</button>
                </div>
            </td>
            <td>
                <button class="btn-link" ng-click="removeWord(word)">[X]</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>