<div class="container" ng-controller="word">
    <div class="jumbotron" style="text-align: center;">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                 aria-valuemax="100" style="width: 0"><span class="sr-only">40% Complete (success)</span></div>
        </div>
        <h1 style="margin-top: 70px;">{{word.word}}</h1>

        <h2>{{translation}}</h2>

        <div class="row text-center" style="margin-top: 130px;margin-bottom: 50px;">
            <div class="col-md-4 close-distance">
                <button type="button" class="btn btn-lg btn-danger" ng-click="removeWord()">
                    Delete (X)
                </button>
            </div>
            <div class="col-md-4 close-distance">
                <button type="button" class="btn btn-lg btn-info" ng-click="showTranslation()">
                    Show translation (S)
                </button>
            </div>
            <div class="col-md-4 close-distance">
                <button type="button" class="btn btn-lg btn-success" ng-click="next()">
                    Ok, Next! (D)
                </button>
            </div>
        </div>

        <div class="row-fluid">
            <p>Your language is {{userLanguage}}, you can change it to
            <span ng-repeat="language in languages">
                <a ng-click="changeLanguage(language)">{{language}}</a>
            </span>
            </p>
        </div>
    </div>
</div>