<!DOCTYPE html>
<html ng-app="main">
<head lang="en">
    <meta charset="UTF-8">
    <title>Hello, my lovely world</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="libs/bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="libs/jquery/jquery-1.11.1.js"></script>

    <script type="text/javascript" src="libs/bootstrap-3.2.0-dist/js/bootstrap.js"></script>

    <!-- Angular -->
    <script type="text/javascript" src="libs/angular-1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="libs/angular-1.2.26/angular-route.min.js"></script>
    <script type="text/javascript" src="libs/ui-grid/ui-grid.js"></script>

    <link rel="styleSheet" href="libs/ui-grid/ui-grid.css"/>

    <script type="text/javascript" src="scripts/main.js"></script>
    <link rel="stylesheet" href="styles/words.css"/>

</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Language assistant</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#admin"><i class="fa fa-shield"></i> AdministrationPanel</a></li>
            </ul>
        </div>
    </nav>
</header>

<div id="main">

    <div ng-view></div>

</div>

</body>
</html>